@import "tailwindcss";

:root {
  --background: #ffffff;
}

@utility container{
  @apply mx-auto px-4;
}

@theme{
  --font-vazir:'vazir';
  --font-vazirbold:'vazirbold';
}


@font-face {
  font-family: "vazir";
  src: local("vazir"), url("../public/fonts/Vazir-Regular.ttf") format("truetype");
  font-display:swap;
}
@font-face {
  font-family: "vazirbold";
  src: local("vazirbold"), url("../public/fonts/Vazir-Bold.ttf") format("truetype");
  font-display:swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'vazir';
}
